body {
  margin: 0;
}
#root {
  margin: 0;
  padding: 0;
}
#board {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgb(142, 68, 108);
}

.list,
.createList {
  width: 16rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 0.75rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.list {
  border-style: solid;
  background-color: black;
  padding-bottom: 0.6rem;
  height: fit-content;
}

.createList {
  color: white;
  background: rgba(152, 102, 129, 0.5);
  height: 3rem;
  font-size: 1rem;
}

.createList:hover {
  background: rgba(179, 120, 151, 0.5);
}

.listName {
  height: 1rem;
}

p,
.createCard {
  color: rgb(199, 197, 197);
  font-size: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.card,
.createCard {
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  border-radius: 0.75rem;
}

.card {
  width: 100%;
  background-color: rgb(39, 39, 43);
  border-style: solid;
}

.createCard {
  width: 92.5%;
}
.createCard:hover {
  background-color: rgb(60, 60, 60);
}

/* #main-page {
  height: 100vh;
  width: 100vh;
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
