body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
#root {
  margin: 0;
  padding: 0;
}
#board {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  min-width: 100%;
  overscroll-behavior-x: contain;
  overflow-x: scroll;
  background-color: rgb(142, 68, 108);
}

.list {
  height: fit-content;
}

.addList {
  color: white;
  background: rgba(152, 102, 129, 0.5);
  flex-shrink: 0;
  height: 3rem;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.listButton {
  border: solid;
  color: black;
  border-color: rgb(15, 141, 238);
  background-color: rgb(15, 141, 238);
  width: fit-content;
  border-radius: 0.2rem;
  height: 2rem;
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.listForm {
  flex-direction: column;
  padding-top: 0.4rem;
  height: fit-content;
}

.listDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.deleteList {
  width: 1rem;
  height: 100%;
  font-size: large;
  display: flex;
  margin-left: 0.7rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.2rem;
}

.listInput {
  height: 0.8rem;
  display: flex;
  flex-direction: row;
  width: 15rem;
  font-size: large;
  border: none;
  text-align: start;
  text-justify: center;
  padding-top: 0.6rem;
  padding-left: 0.4rem;
  color: white;
  background-color: black;
  padding-bottom: 0.6rem;
  line-height: 1.3rem;
}

.listButton:hover {
  border-color: rgb(84, 169, 235);
  background-color: rgb(84, 169, 235);
}

.listInput:focus {
  border: solid;
  border-width: 0.16rem;
  border-color: rgb(92, 145, 183);
  border-radius: 0.3rem;
  outline: 0;
}

.list,
.addList {
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.list,
.listForm {
  border-style: solid;
  background-color: black;
  padding-bottom: 0.4rem;
}

.list,
.addList,
.listForm {
  width: 16rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  display: flex;
}

.addList:hover {
  background: rgba(179, 120, 151, 0.5);
}

.listName {
  height: 1rem;
}

p,
.addCard {
  color: rgb(199, 197, 197);
  font-size: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.card,
.addCard {
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  border-radius: 0.75rem;
}

.card {
  width: 15.6rem;
  background-color: rgb(39, 39, 43);
  border-style: solid;
}

.addCard {
  width: 92.5%;
}
.addCard:hover {
  background-color: rgb(60, 60, 60);
}
